.projet{
    margin-bottom: 40px;
    margin-top: 20px;
    section {
        margin-left: 30px;
    }
}



h2{
    font-weight: 800;
}

@include media-query($on-palm) {
    .projet {
        img{
            margin-bottom: 30px;
        }
        margin-bottom: 80px;
    }
}


.link-wrapper h2{
    text-decoration: underline;
    color: black;

}